{% extends 'students/base.html' %}

{% block content %}
<div class="row justify-content-center" style="margin-top: 50px;">
    <div class="col-md-6">
        <div class="card border-danger shadow">
            
            <div class="card-header bg-danger text-white">
                <h3 class="mb-0">Confirmar Exclusão</h3>
            </div>
            
            <div class="card-body text-center">
                <br>
                <h5 class="card-title">Você tem certeza que deseja excluir o aluno?</h5>
                
                <h2 class="my-4 text-danger fw-bold">{{ object }}</h2>
                
                <div class="alert alert-warning" role="alert">
                    Essa ação é irreversível e apagará também o histórico de matrículas deste aluno.
                </div>
                
                <br>

                <form method="post">
                    {% csrf_token %}
                    
                    <div class="d-flex justify-content-center gap-3">
                        <a href="{% url 'students:list' %}" class="btn btn-secondary px-4">
                            Cancelar
                        </a>
                        
                        <button type="submit" class="btn btn-danger px-4">
                            Sim, Excluir Definitivamente
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}